@model List<WebApplication4.ViewModels.UserDisplayViewModel>

@{
    ViewData["Title"] = "Admin Panel";
    Layout = "_Layout";
}
<div class="header">
    <div class="logo">SashaMusic</div>
    
    <div class="logout">
        <a href="@Url.Action("Logout", "Account")" class="btn btn-logout">Выйти</a>
    </div>
</div>
  

<table class="table" style="margin-top: 20px;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя пользователя</th>
            <th>Email</th>
            <th>Статус</th>
            <th>Действие</th>
            <th>Редактировать</th>
            <th>Удалить</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td class="text-white">@user.Id</td>
                <td class="text-white">@user.Username</td>
                <td class="text-white">@user.Email</td>
                <td>
                    @if (user.IsActive)
                    {
                        <span class="text-success">Активен</span>
                    }
                    else
                    {
                        <span class="text-danger">Не активен</span>
                    }
                </td>
                <td>
                    @if (!user.IsActive)
                    {
                        <a href="#" class="btn btn-warning" onclick="event.preventDefault(); document.getElementById('toggle-status-form-@user.Id').submit();">
                            Добавить
                        </a>
                        <form id="toggle-status-form-@user.Id" asp-action="ToggleUserStatus" asp-controller="Admin" asp-route-id="@user.Id" method="post" style="display:none;"></form>
                    }
                    else
                    {
                        <button class="btn-secondary" style="width: 100%" disabled>Активен</button>
                    }
                </td>

                <td>
                    <a asp-action="EditUser" asp-controller="Admin" asp-route-id="@user.Id"
                       class="btn-edit">
                        ✏️
                    </a>
                </td>
                <td>
                    <a href="#" class="btn-delete" onclick="event.preventDefault(); document.getElementById('delete-form-@user.Id').submit();">
                        🗑
                    </a>
                    <form id="delete-form-@user.Id" asp-action="DeleteUser" asp-controller="Admin" asp-route-id="@user.Id" method="post" style="display:none;">
                       
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<nav class="nav-links" style="margin-top: 30px;">   
    <a href="@Url.Action("Index", "Genre")" class="btn btn-logout">Жанры</a>
    <a href="@Url.Action("Index", "Music")" class="btn btn-logout">Музыка</a>
</nav>
